<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form>
    <div class="mb-3">
        <input type="text" class="form-control" id="search" placeholder="Search">
        <!--Search Bar-->
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg" style="float:right"><i class="fa fa-search"></i></button>
        <!--Search Button, Block-->
    </div>
</form>


<%- include ('../partials/footer') %>